[Unit]
Description=Cloud UVC recorder
RequiresMountsFor=/mnt/storage

[Service]
Type=simple
ExecStart=/home/pi/clouduvc_record.sh
User=pi

[Install]
WantedBy=multi-user.target
